<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>rot shortener</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <div id="app">
      <section class="hero is-light is-fullheight">
          <div class="hero-body">
            <div class="container">
              <h1 class="title">
                Acortador URL
              </h1>
              <h2 class="subtitle">
                @rotcl
              </h2>
              <div class="field is-grouped" v-if="shortedUrl === null">
                <div class="control">
                  <input class="input is-medium" type="text" placeholder="URL a acortar" v-model.trim="url">
                </div>
                <div class="control">
                  <a class="button" @click="short()">
                    acortar
                  </a>
                </div>
                <div style="display:block" v-if="error">
                  <h4 class="title is-4">Error</h4>
                  <h4 class="subtitle is-4">URL Inválida</h4>
                </div>
              </div>
              <div v-else>
                <h4 class="title is-4">Aprobado</h4>
                <h4 class="subtitle is-4"><a href="{{ showShortedUrl(shortedUrl.id) }}" target="_blank">{{ showShortedUrl(shortedUrl.id) }}</a></h4>
              </div>
            </div>
          </div>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script async src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script async src="./app.js"></script>
  </body>
</html>